# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
venv/
ENV/
.env.*
!.env.example
*.sqlite3
*.db

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Test and coverage
htmlcov/
.coverage
.tox/
.pytest_cache/

# Misc
*.bak
*.swp

# FastAPI
instance/

# Ignore local settings
local_settings.py
